<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> is a fork of devhints.io by rstacruz. A lot of these
      were written by them, some were modified by me, some were created entirely by me.collection of cheatsheets
      I've written over the years.
      <i class='fleuron'></i>
      I'm <a href="http://ricostacruz.com">4lch4/Alcha</a>.
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='.#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
